Sphinx==7.1.2
Pillow
esbonio
docutils

#
sphinx-prompt
sphinx-copybutton

#
sphinx-notfound-page

#
sphinxnotes-strike
sphinx-cjkspace

#
sphinxcontrib-mermaid
sphinxcontrib-kroki

#
furo
sphinx-rtd-theme
sphinx-book-theme
sphinx-press-theme
